<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="p-0 bg-gradient-info">

      <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-secondary m-0">
          
          <button class="navbar-toggler btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon btn-outline-light"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="btn btn-outline-light nav-link mr-2" href="/">Dashboard<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="btn btn-outline-light nav-link dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tasks
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tasks">View Tasks</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/tasks/new">New Task</a>
                  </div>
                </li>
              <li class="nav-item dropdown">
                <a class="btn btn-outline-light nav-link dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Tasks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/users">Users</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/users/new">Add User</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="btn btn-outline-light nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/clients">Clients</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/clients/new">Add Client</a>
                  </div>
                </li>
            </ul>
          </div>
          <% if (user) { %>
            <a href="/logout" class="btn btn-outline-danger" width="35"> Logout </a>
          <% } else { %>
            <a href="/auth/google" class="btn btn-outline-light" width="35">Login with Google</a>
          <% } %>
            

        </nav>
        
