<%- include('./partials/header') %>
<%- include('./partials/sidebar') %>
  

    <h1 class="text-center mt-3">Soler & Associates</h1>
<div class="landingBG ">

</div>
  
    <%- include('./partials/footer') %>
