<%- include('./partials/header') %>
<%- include('./partials/sidebar') %>


    <h1><%= title %></h1>
    <h3>Pay me my money!</h3>
    <h3>This should be the only public view!</h3>


    <%- include('./partials/footer') %>
