<% include ../partials/header.ejs %>

<h1 class="text-center">Clients</h1>

<div class="row justify-content-center">
<% clients.forEach(function(client) { %>
    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center"> <%= client.name %> </h5>
      </div>
      <a href="clients/<%= client._id %>" class="btn btn-info">View</a>
    </div>
    <% }); %>
  </div>



  <% include ../partials/footer.ejs %>
