body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/D2WuacA.jpg');
  background-size: cover;
  color: #fff716;
}

a {
  color: #00B7FF;
}
