body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/av7lukz.jpg');
  /* background-size: cover; */
  background-color: blanchedalmond;
}

a {
  color: #00B7FF;
}
