<% include ../partials/header.ejs %>


<h1 class="text-center">Tasks</h1>
<hr>

<div class="row justify-content-center">
<% tasks.forEach(function(task) { %>
    <div class="card m-2 tan" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title text-center"> <%= task.heading %> </h5>
      </div>
      <ul>
        <li>Task Assigned to: <%=task.assignedTo[0].name %></li>
      </ul>

      <a href="tasks/<%= task._id %>" class="btn btn-outline-light submit">View</a>
    </div>
    <% }); %>
  </div>



  <% include ../partials/footer.ejs %>