<% include ../partials/header.ejs %>


<h1 class="text-center">Users</h1>
<p class="text-center">Welcome to Billable Hours</p>

<div class="row">
<% tasks.forEach(function(task) { %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> <%= task.heading %> </h5>
      </div>
      <ul>
        <li>Task Assigned to: <%=task.assignedTo %></li>
      </ul>

      <a href="tasks/<%= task._id %>" class="btn btn-success">View</a>
    </div>
    <% }); %>
  </div>



  <% include ../partials/footer.ejs %>