<% include ../partials/header.ejs %>


<h1 class="text-center">Enter New Task</h1>

<div class="row justify-content-center">
<div class="card text-center bg-secondary p-2" style="width: 18rem;">
<form action="/tasks" method="POST">
    <div class="form-group">
      <label for="heading">Title</label>
      <input type="text" class="form-control" name="heading" placeholder="New Task">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <input type="text" class="form-control" name="details" placeholder="Task Details">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Date Due</label>
      <input type="date" class="form-control" name="dateDue">
    </div>
    <div class="form-group">
      <label for="assignedTo">Assigned To</label>
      <select class="form-control" type="object" name="assignedTo">
        <% users.forEach(user => { %>
        <option value="<%= user._id %>"><%= user.name %></option>
          <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="matterRef">Task for Matter</label>
      <select class="form-control" type="object" name="matterRef">
          <% matters.forEach(matter => { %>
            <option value="<%= matter._id %>"><%= matter.title %></option>
              <% }) %>
          </select>
    </div>
    
      <input type="submit"
       class="btn btn-outline-light">
    
    
  </form>
</div>
</div>
  <% include ../partials/footer.ejs %>
