<% include ../partials/header.ejs %>


<h1>Enter New Task</h1>
<p>Welcome to Billable Hours</p>

<div class="card text-center bg-secondary p-2" style="width: 18rem;">
<form action="/tasks" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" placeholder="New Task">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <input type="text" class="form-control" name="details" placeholder="Task Details">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Date Due</label>
      <input type="date" class="form-control" name="dateDue">
    </div>
    <div class="form-group">
      <label for="assignedTo">Assigned To</label>
      <select class="form-control" name="assignedTo">
        <% users.forEach(user => {%>
        <option><%= user.name %></option>
          <% }) %>
      </select>
    </div>
    <div class="form-group">
      <label for="matterRef">Task for Matter</label>
      <select class="form-control" name="matterRef">
          <% matters.forEach(matter => {%>
            <option><%= matter.title %></option>
              <% }) %>
          </select>
    </div>
    
      <input type="submit"
       class="btn btn-outline-light">
    
    
  </form>
</div>

  <% include ../partials/footer.ejs %>
