<% include ../partials/header.ejs %>


<h1 class="text-center">Enter New User</h1>
<hr>

<div class="row justify-content-center">
<div class="card text-center tan p-2" style="width: 18rem;">
<form action="/users" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" name="name" placeholder="First Last">
    </div>
    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="phone" class="form-control" name="phone" placeholder="(512) 123-6789">
    </div>
    <div class="form-group">
      <label for="name">Address</label>
      <input type="name" class="form-control" name="address" placeholder="123 Easy St. Austin, TX 78748">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Pay Rate</label>
      <input type="number" class="form-control" name="payRate" placeholder="$00.00">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Job Title</label>
      <select class="form-control" name="title">
        <option>Receptionist</option>
        <option>Paralegal</option>
        <option>Attorney</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Administrator</label>
      <select class="form-control" name="isAdmin">
        <option value="0">False</option>
        <option value="1">True</option>
      </select>
    </div>
    
      <input type="submit"
       class="btn btn-outline-light submit">
    
    
  </form>
</div>
</div>
  <% include ../partials/footer.ejs %>
